<div class="card">

  <form method="post">
    <input type="hidden" name="action" value="update" />
    <input type="hidden" name="id" id="hiddenField" value="{id}" />
    <div class="title-update-form"> 
      <textarea class="card-title" name="new_title">{title}</textarea>
      <button class="update-btn" type="submit" ><i class="fa fa-save"></i></button>
    </div>
    <textarea class="card-content" name="new_content">{details}</textarea>
  </form>

  <form method="post">
    <input type="hidden" name="action" value="delete" />
    <input type="hidden" name="id" id="hiddenField" value="{id}" />
    <button class="delete-btn" type="submit"><i class="fa fa-trash"></i></button>
  </form> 

  

</div>